.slidev-layout thead {
    background-color: rgb(156, 163, 175,0.2);
}
.slidev-layout tr {
    border-bottom-width: 1px;    
    border-color: rgba(156,163,175,0.2);
}
.slidev-layout td, .slidev-layout th {
    padding: 0.5rem;
}