.footnotes-sep {
    display: none;
}

.footnotes {
    @apply abs-b m-5 pl-10 text-sm opacity-70 border-t-1;
}

.footnotes-rel {
    @apply rel-b m-2 pl-2 text-sm opacity-70 border-t-1;
}

.footnote-backref {
    display: none;
}

.solution {
    @apply text-xs text-gray-400;
}

.slidev-layout h1, h2, h3{
    @apply font-serif;
}

.slidev-layout h2 {
    font-size: 1.7rem;
    line-height: 2.25rem;
}

.icon-btn {
    opacity: 1.0;
}

.code-lg code {
    font-size: 1.0rem;
    line-height: 1.5rem;
}

.code-xl code {
    font-size: 1.25rem;
    line-height: 1.75rem;
}